#container {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	position: relative;
}

.canvas {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	top:0;
	position:absolute;
}

#canvasColorLayer {
	left:0;
}

#canvasPieceLayer {
	left: 260px;
}

#piece_canvas {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
}

.pieceList {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.pieceList.selected {
	border-width:1px;
	border-style:solid;
	border-color:black;
}

#colorBox {
	top: 90px;
	left: 10px;
	position: absolute;
}

#colorSelector {
	width:140px;
	height:820px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	top:10px;
	right:10px;
	position:absolute;
}

#selectedColor {
	top:10px;
	left:10px;
	height:40px;
	width:120px;
	position:absolute;
}

#recentColorBox {
	top:60px;
	left:10px;
	position:absolute;
}

.recentColor {
	width:20px;
	height:20px;
	float:left;
}

#canvasContainer {
	cursor: default;
	position:absolute;
	top: 10px;
	width: 770;
	left: 160px;
}

#pieceSelector {
	width:140px;
	height:820px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	position:relative;
}

